<h1>Inscripcio de proves d'atletisme</h1>

<form (ngSubmit)="onSubmit(form)">
    <fieldset>
            <h3>Dades identificatives</h3>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" id="dni" name="dni" required>
            </div>
            <div class="form-group">
                <label for="codi">Codi de federat</label>
                <input type="text" id="codi" name="codi" required>
            </div>
            <div class="form-group">
                <label for="nom">Nom i cognoms</label>
                <input type="text" id="nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="telefon">Telefon</label>
                <input type="text" id="telefon" name="telefon" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
    </fieldset>

   <fieldset>
        <h3>Inscripcio</h3>
        <p>Un atleta no es pot inscriure a mes de 1100 metres:</p>
        
        <div>
            <input type="checkbox" id="100m" name="100m" value="100 m llisos">
            <label for="100m">100 m llisos</label>
            <input type="checkbox" id="200m" name="200m" value="200 m llisos">
            <label for="200m">200 m llisos</label>
            <input type="checkbox" id="400m" name="400m" value="400 m llisos">
            <label for="400m">400 m llisos</label>
            <input type="checkbox" id="800m" name="800m" value="800 m llisos">
            <label for="800m">800 m llisos</label>
            <input type="checkbox" id="1000m" name="1000m" value="1000 m llisos">
            <label for="1000m">1000 m llisos</label>
        </div>        
    </fieldset>
    
    <button type="submit">Inscripció</button>            
</form>




